{% extends 'base.html.twig' %}

{% block title 'Ma Super Agence' %}


{% block body %}
<div class="jumbotron text-center">
<h1>Ma Super Agence</h1>
<p> Lorem ipsum dolor sit amet, consect, consectetur adipisicing elit, assumenda assumenda 
molesyigba nblal provident repplis int soluta tmlate lustre magni irue</p>
</div>

{% endblock %}