{% extends 'base.html.twig' %}

{% block title 'Tous nos biens' %}

{% block body %}
<div class="container">
<h1>Voir tous nos biens</h1>
<p> Lorem ipsum dolor sit amet, consect, consectetur adipisicing elit, assumenda assumenda 
molesyigba nblal provident repplis int soluta tmlate lustre magni irue</p>
</div>

{% endblock %}